@model BLL.StatsVM

<div>
    <table>
        <tbody>
            @for (int i = 0; i < Model.Stats.Count; i++)
            {
                <tr>
                    <td style="padding-right:5px;"><b>Strength</b></td>
                    <td style="padding-right:5px;"><b>Intelligence</b></td>
                    <td style="padding-right:5px;"><b>Dexterity</b></td>
                </tr>
                <tr>
                    <td>@Model.Stats[i].Strength</td>
                    <td>@Model.Stats[i].Intelligence</td>
                    <td>@Model.Stats[i].Dexterity</td>
                </tr>
            }
        </tbody>
    </table>
</div>