@model bool

@{
    ViewBag.Title = "Story";
}

<h4><i>Title of page</i></h4>

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/StoryLine.js"></script>

<p>
   @if(Model)
   {
        
   }
</p>

<p><i>Add a view characters button</i></p>

<div id="stat-footer">
    @Html.Action("_Local", "Stat")
</div>