body {
    background-color: white;
    padding:0;
    margin: 0;
}

p {
    text-align:center;
}

h1, h2, h3,
h4, h5, h6 {
    text-align:center;
}

html {
    font-family:Tahoma, sans-serif;
    padding:0;
    margin: 0;
}

address {
    text-align:center;
}

section {
    text-align:center;
}

#form-group {
    text-align:center;
}

#container {
    background-color: white;
    height:100%;
    width:95%;
    margin:auto;
    clear:both;
}

#top_nav {
    background-color: black;
    display:inline-block;
    padding:0;
    width:100%;
    height:50px;
    float:right;
    font-size: 1em;
}

#top_nav ul { 
    float:left;
    padding-right:25px;
}
	
#top_nav li { 
    display: inline-block;
}
	
#top_nav a:link {
    color: white;
    text-decoration: none;
}   /* unvisited link */

#top_nav a:visited {
    color: antiquewhite;
    text-decoration: line-through;
}   /* visited link */

#top_nav a:hover {
    color: ghostwhite;
    text-decoration: underline;
}   /* mouse over link */

#top_nav a:active {
    color: lightgray;
}   /* selected link */

#footer { 
    background-color: white;
    bottom:0;
    position: absolute;
    width:100%;
    height: 25px;
}

#footer p { 
    font-size: 0.85em;
    list-style-image: none;
    display: inline-block;
    margin: 0 23px 0 0;
}

#col-md-4 {
    position:relative;
}

/*from bootstrap.css*/
a:focus { 
    outline: thin dotted; 
}

a:active,
a:hover { 
    outline: 0;
}

fieldset {
  padding: 0.35em 0.625em 0.75em;
  margin: 0 2px;
  border: 1px solid #c0c0c0;
}

legend {
  padding: 0;
  border: 0;
}

button,
input,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: 100%;
}

button,
input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
  padding: 0;
  box-sizing: border-box;
}

input[type="search"] {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
  -webkit-appearance: textfield;
}