@model BLL.CharactersVM

@{
    ViewBag.Title = "Choose Character";
}

<h2>@ViewBag.Title</h2>

@using(Html.BeginForm("CharLogin", "Character"))
{
<select name="groupID">
    <option value=0>Select Character</option>
    @for (int i = 0; i < Model.Characters.Count; i++)
    {
        <option value=@Model.Characters[i].ID>@Model.Characters[i].Name</option>
    }
</select>
<input type="submit" value="Choose" />
}