@model List<BLL.CharacterVM>

@{
    ViewBag.Title = "Choose Character";
}

<h2>@ViewBag.Title</h2>

<section>
    @using (Html.BeginForm("Choose", "Character", FormMethod.Post))
    {
        <select name="CharID">
            <option value=0>Create Character</option>
            @if (Model.Count != null)
            {
                for (int i = 0; i < Model.Count; i++)
                {
                    <option value=@Model[i].CharID>@Model[i].Name</option>
                }
            }
        </select>
        <input type="submit" value="Choose" />
    }
</section>