@{
    ViewBag.Title = "Create Character";
}

<h2>@ViewBag.Title</h2>

<section>
    <div>
        @Html.Partial("_CreateCharacter")
    </div>
    <div>
        @Html.Partial("_CreateStat")
    </div>
</section>